.addtodobtn{
  background-color:  rgb(97, 187, 136);
}

.todolist {
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.appTitle {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 50px;
  
}

.taskinput {
  width: 500px;
  font-size: 15px;
  border: 2px solid rgb(97, 187, 136);
  border-radius: 2px;
}

.Statuslist {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
  
}

.todo-card {
  padding: 10px;
  background-color: green;
  width: 250px;
}

.cardfont {
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
  max-width: 100%;
}

.lastbuttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.edittwobuttons {
  padding-top: 15px;
  display: flex;
  gap: 1rem;
}

.cancel {
  color: aliceblue;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(197, 77, 33);
}

.edit-mode {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.todo-list {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-left: 80px;
  margin-right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.all, .Completed, .Not-Completed {
  background-color: red;
}

.deletebutton {
  background-color: red;
  border-radius: 5px;
  border: 0px;
}
.editbutton {
  background-color: rgb(97, 187, 136);
  border-radius: 5px;
  border: 0px;
}

@media screen and (max-width: 1200px) {
  .todo-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .todo-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .todo-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .todolist {
    display: flex;
    flex-direction: column;
  }
}


